#!/bin/bash

# put your own LLM framework keys below
# these examples are not real! do not check in your own keys!
# for OpenAI API key use this
export OPENAI_API_KEY=your_api_key_here
# for HUGGINGFACE API use this
export HUGGINGFACEHUB_API_TOKEN=your_api_token_here
