#!/bin/bash

# put your own OpenAI API key below
# this example is not real! do not check in your own key!

export OPENAI_API_KEY=your_api_key_here
export HUGGINGFACE_API_TOKEN=your_hf_api_token_here
