# 2023-06-09: does not seem to install with pip (conda req'd?)
#pip install mkl mkl-include # required for CPU usage on Mac users 
# The core
torch==1.11.0
torchvision==0.12.0
torchaudio==0.11.0 
# install Hugging Face Transformer libraries needed to interact with LLM
git+https://github.com/huggingface/transformers 
# These will be used to interact with our documents
langchain==0.0.173 
faiss-cpu==1.7.4
unstructured==0.6.8
pytesseract==0.3.10
pypdf==3.9.0
pdf2image==1.16.3
sentence_transformers==2.2.2
# required to run on CPU only, a little fasater
accelerate==0.19.0
# For the GUI and webapp
streamlit
